<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.seub2hu2.community.mapper.ReportMapper">

  <!-- void insertReportToBoard(@Param("report") Report report); -->
  <insert id="insertReport">
    insert into REPORTS
    (
    report_type
    , report_no
    , user_no
    , report_reason
    , report_detail
    )
    values
    (
    #{report.type}
    , #{report.no}
    , #{report.user.no}
    , #{report.reason}
    , #{report.detail}
    )
  </insert>

  <!-- boolean isAlreadyReported(@Param("dto")FunctionCheckDto dto); -->
  <select id="isAlreadyReported">
    select count(*)
    from REPORTS
    where
      report_type = #{dto.type}
      and report_no = #{dto.typeNo}
      and user_no = #{dto.userNo}
  </select>

  <!-- void updateReportStatus(@Param("dto")FunctionCheckDto dto); -->
  <update id="updateReportStatus">
    update REPORTS
    set
        iscomplete = '처리완료'
        , report_resolved_date = sysdate()
    where report_type = #{dto.type}
      and report_no = #{dto.typeNo}
  </update>
</mapper>